{
  "endpoint": "{{ (index .endpoints.debug 0).endpoint }}",
  "method": "GET",
  "output_encoding": "no-op",
  "input_headers": [
    "*"
  ],
  "backend": [
    {
      "url_pattern": "{{ (index .endpoints.debug 0).url_pattern }}",
      "host": {{ marshal .backends.debug }},
      "sd": "static",
      "method": "GET",
      "disable_host_sanitize": false
    }
  ]
},
{
  "endpoint": "{{ (index .endpoints.debug 0).endpoint }}",
  "method": "POST",
  "output_encoding": "no-op",
  "input_headers": [
    "*"
  ],
  "backend": [
    {
      "url_pattern": "{{ (index .endpoints.debug 0).url_pattern }}",
      "host": {{ marshal .backends.debug }},
      "sd": "static",
      "method": "POST",
      "disable_host_sanitize": false
    }
  ]
}
