{{ $host := .backends.mgmt }}
{{ $input_headers := .input_headers }}
{{ $endpoints := .endpoints.mgmt }}
{{- range $idx, $endpoint := $endpoints.basic }}
{{- if $idx -}},{{ end }}
{
  "endpoint": "/base{{ .endpoint }}",
  "method": "{{ .method }}",
  {{- if len .input_query_strings -}}
  "input_query_strings":
  [
    {{- range $qidx, $qstring := .input_query_strings }}
    {{- if $qidx -}},{{ end }}
    "{{ $qstring }}"
    {{- end}}
  ],
  {{- end}}
  "timeout": "{{ .timeout }}",
  "input_headers": {{ marshal $input_headers.basic }},
  "extra_config": {{ marshal .extra_config }},
  "backend": [
    {
      "url_pattern": "{{ .url_pattern }}",
      "host": {{ marshal $host }},
      "sd": "static",
      "method": "{{ .method }}",
      "disable_host_sanitize": false,
      "extra_config": {
        "github.com/devopsfaith/krakend-martian": {
          "header.Modifier": {
            "scope": ["response"],
            "name": "Backend",
            "value": "management"
          }
        }
      }
    }
  ]
}
{{- end}}
,
{{- range $idx, $endpoint := $endpoints.jwt_auth }}
{{- if $idx -}},{{ end }}
{
  "endpoint": "/base{{ .endpoint }}",
  "method": "{{ .method }}",
  {{- if len .input_query_strings -}}
  "input_query_strings":
  [
    {{- range $qidx, $qstring := .input_query_strings }}
    {{- if $qidx -}},{{ end }}
    "{{ $qstring }}"
    {{- end}}
  ],
  {{- end}}
  "timeout": "{{ .timeout }}",
  "output_encoding": "no-op",
  "input_headers": {{ marshal $input_headers.jwt_auth }},
  "extra_config": {
    {{ template "auth_validator.tmpl" . }}
  },
  "backend": [
    {
      "url_pattern": "{{ .url_pattern }}",
      "host": {{ marshal $host }},
      "sd": "static",
      "method": "{{ .method }}",
      "disable_host_sanitize": false,
      "extra_config": {
        "github.com/devopsfaith/krakend-martian": {
          "header.Modifier": {
            "scope": ["response"],
            "name": "Backend",
            "value": "management"
          }
        }
      }
    }
  ]
}
{{- end}}
,
{{- range $idx, $endpoint := $endpoints.no_auth }}
{{- if $idx -}},{{ end }}
{
  "endpoint": "/base{{ .endpoint }}",
  "method": "{{ .method }}",
  {{- if len .input_query_strings -}}
  "input_query_strings":
  [
    {{- range $qidx, $qstring := .input_query_strings }}
    {{- if $qidx -}},{{ end }}
    "{{ $qstring }}"
    {{- end}}
  ],
  {{- end}}
  "timeout": "{{ .timeout }}",
  "output_encoding": "no-op",
  "input_headers": {{ marshal $input_headers.no_auth }},
  "backend": [
    {
      "url_pattern": "{{ .url_pattern }}",
      "host": {{ marshal $host }},
      "sd": "static",
      "method": "{{ .method }}",
      "disable_host_sanitize": false,
      "extra_config": {
        "github.com/devopsfaith/krakend-martian": {
          "header.Modifier": {
            "scope": ["response"],
            "name": "Backend",
            "value": "management"
          }
        }
      }
    }
  ]
}
{{- end}}
,
{{- range $idx, $endpoint := $endpoints.grpc_auth }}
{{- if $idx -}},{{ end }}
{
  "endpoint": "{{ .endpoint }}",
  "method": "{{ .method }}",
  "timeout": "{{ .timeout }}",
  "output_encoding": "no-op",
  "input_headers": {{ marshal $input_headers.grpc_auth }},
  "extra_config": {
    {{ template "auth_validator.tmpl" . }}
  },
  "backend": [
    {
      "url_pattern": "{{ .url_pattern }}",
      "host": {{ marshal $host }},
      "sd": "static",
      "method": "{{ .method }}",
      "disable_host_sanitize": false,
      "extra_config": {
        "plugin/http-client": {
          "name": "grpc-proxy",
          "grpc-proxy": {}
        }
      }
    }
  ]
}
{{- end }}
,
{{- range $idx, $endpoint := $endpoints.grpc_no_auth }}
{{- if $idx -}},{{ end }}
{
  "endpoint": "{{ .endpoint }}",
  "method": "{{ .method }}",
  "timeout": "{{ .timeout }}",
  "output_encoding": "no-op",
  "input_headers": {{ marshal $input_headers.grpc_no_auth }},
  "backend": [
    {
      "url_pattern": "{{ .url_pattern }}",
      "host": {{ marshal $host }},
      "sd": "static",
      "method": "{{ .method }}",
      "disable_host_sanitize": false,
      "extra_config": {
        "plugin/http-client": {
          "name": "grpc-proxy",
          "grpc-proxy": {}
        }
      }
    }
  ]
}
{{- end }}