"telemetry/opencensus": {
  "sample_rate": 100,
  "reporting_period": 1,
  "enabled_layers": {
    "backend": true,
    "router": true,
    "pipe": true
  },
  "exporters": {
    "prometheus": {
      "port": {{ .ports.api_gateway_metrics_port }},
      "namespace": "api_gateway"
    }
    {{ if eq .observe.jaeger_enabled "true" }}
    ,
    "jaeger": {
      "endpoint": "http://{{ .observe.jaeger_host }}:{{ .ports.jaeger_port }}/api/traces",
      "service_name":"api-gateway",
      "buffer_max_count": 1000
    }
    {{ end }}
  }
}
