openapi: "3.0.3"
info:
  title: Instill API
  version: "{{ VERSION }}"
  contact:
    email: support@instill.tech
    name: Contact
  description: |

    ![Alpha](https://img.shields.io/badge/Status-Alpha-blue)

    # Overview

    The Instill API is currently in alpha development. We welcome any constructive feedback, so feel free to contact us at support@instill.tech.

    <SecurityDefinitions />

externalDocs:
  description: Learn more from our documentation
  url: https://docs.instill.tech

servers:
  - url: "{{ SERVER_URL }}"

x-tagGroups:
  - name: API Authorization
    tags:
      - Token

  - name: API calls
    tags:
      - Health
      - Client
      - Model
      - Pipeline
      - Classification
      - Detection
      - Inference

components:
  securitySchemes:
    basicAuth:
      type: http
      description: Request an access token using base64-encoded client credentials
      scheme: basic
    bearerAuth:
      type: http
      description: Get access to the Instill APIs using the [OAuth 2.0 Authorization framework](https://datatracker.ietf.org/doc/html/rfc6749)
      scheme: bearer
      bearerFormat: JWT
