"github.com/devopsfaith/krakend-cel": [
  {
    "check_expr": "('Jwt-Sub' in req_headers ? size(req_headers['Jwt-Sub']) == 1 : true) && ('Jwt-Iss' in req_headers ? size(req_headers['Jwt-Iss']) == 1 : true) && ('Jwt-Aud' in req_headers ? size(req_headers['Jwt-Aud']) == 1 : true) && ('Jwt-Scope' in req_headers ? size(req_headers['Jwt-Scope']) == 1 : true)"
  }
],
"github.com/devopsfaith/krakend-jose/validator": {
  "alg": "RS256",
  "audience": {{ marshal .jwt_aud }},
  "jwk-url": {{ marshal .jwk_url }},
  "issuer": {{ marshal .jwt_iss }},
  "scopes": {{ marshal .jwt_scopes }},
  "scopes_key": "scp",
  "scopes_matcher": "all",
  "cache": true,
  "propagate-claims": [
    [
      "sub",
      "Jwt-Sub"
    ],
    [
      "iss",
      "Jwt-Iss"
    ],
    [
      "aud",
      "Jwt-Aud"
    ],
    [
      "scp",
      "Jwt-Scope"
    ],
    [
      "client_id",
      "Jwt-Client-Id"
    ],
    [
      "models",
      "Jwt-Models"
    ],
    [
      "username",
      "Jwt-Username"
    ]
  ]
}
