{{ $host := .backends.mgmt }}
{{ $headers_to_pass := .headers_to_pass }}
{{ $endpoints := .endpoints.mgmt }}
{{- range $idx, $endpoint := $endpoints.jwt_auth }}
{{- if $idx -}},{{ end }}
{
  "endpoint": "{{ .endpoint }}",
  "method": "{{ .method }}",
  {{- if len .input_query_strings -}}
  "input_query_strings":
  [
    {{- range $qidx, $qstring := .input_query_strings }}
    {{- if $qidx -}},{{ end }}
    "{{ $qstring }}"
    {{- end}}
  ],
  {{- end}}
  "timeout": "{{ .timeout }}",
  "output_encoding": "no-op",
  "headers_to_pass": {{ marshal $headers_to_pass.jwt_auth }},
  "extra_config": {
    {{ template "jose_validator_hydra.tmpl" . }}
  },
  "backend": [
    {
      "url_pattern": "{{ .url_pattern }}",
      "host": {{ marshal $host }},
      "encoding": "no-op",
      "sd": "static",
      "method": "{{ .method }}",
      "disable_host_sanitize": false,
      "extra_config": {
        "github.com/devopsfaith/krakend-martian": {
          "header.Modifier": {
            "scope": ["response"],
            "name": "Backend",
            "value": "management"
          }
        }
      }
    }
  ]
}
{{- end}}
,
{{- range $idx, $endpoint := $endpoints.no_auth }}
{{- if $idx -}},{{ end }}
{
  "endpoint": "{{ .endpoint }}",
  "method": "{{ .method }}",
  {{- if len .input_query_strings -}}
  "input_query_strings":
  [
    {{- range $qidx, $qstring := .input_query_strings }}
    {{- if $qidx -}},{{ end }}
    "{{ $qstring }}"
    {{- end}}
  ],
  {{- end}}
  "timeout": "{{ .timeout }}",
  "output_encoding": "no-op",
  "headers_to_pass": {{ marshal $headers_to_pass.no_auth }},
  "backend": [
    {
      "url_pattern": "{{ .url_pattern }}",
      "host": {{ marshal $host }},
      "encoding": "no-op",
      "sd": "static",
      "method": "{{ .method }}",
      "disable_host_sanitize": false,
      "extra_config": {
        "github.com/devopsfaith/krakend-martian": {
          "header.Modifier": {
            "scope": ["response"],
            "name": "Backend",
            "value": "management"
          }
        }
      }
    }
  ]
}
{{- end}}
,
{{- range $idx, $endpoint := $endpoints.basic_auth }}
{{- if $idx -}},{{ end }}
{
  "endpoint": "{{ .endpoint }}",
  "method": "{{ .method }}",
  {{- if len .input_query_strings -}}
  "input_query_strings":
  [
    {{- range $qidx, $qstring := .input_query_strings }}
    {{- if $qidx -}},{{ end }}
    "{{ $qstring }}"
    {{- end}}
  ],
  {{- end}}
  "timeout": "{{ .timeout }}",
  "output_encoding": "no-op",
  "headers_to_pass": {{ marshal $headers_to_pass.basic_auth }},
  "backend": [
    {
      "url_pattern": "{{ .url_pattern }}",
      "host": {{ marshal $host }},
      "encoding": "no-op",
      "sd": "static",
      "method": "{{ .method }}",
      "disable_host_sanitize": false,
      "extra_config": {
        "github.com/devopsfaith/krakend-martian": {
          "header.Modifier": {
            "scope": ["response"],
            "name": "Backend",
            "value": "management"
          }
        }
      }
    }
  ]
}
{{- end}}
