"github_com/devopsfaith/krakend-opencensus": {
    "sample_rate": 100,
    "reporting_period": 1,
    "enabled_layers": {
        "backend": true,
        "router": true,
        "pipe": true
    },
    "exporters": {
        "prometheus": {
            "port": {{ .ports.api_gateway_metrics_port }},
            "namespace": "krakend"
        }
    }
}
